/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Common Shared Styles */
*{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.text-pink{
    color:#FF42A5;
    text-align:center;
    font-size:2.8rem;
    font-weight:700;
}
.text-black{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.btn-primary{
    background-color:#c91d87;
    padding: 21px 40px;
    border-radius: 48px;
    border:none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
#blue-color{
    background-color: #4EC5F7;
}
.pink-color{
    color: #FF42A5;
}
.purple-color{
    color:#ac58f1;
}
.right-text{
    text-align:right;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom:24px;
}
.section-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    padding:10px;
}
/* Header Section Styles  */
.header{
    background: #FFF;
}
/* Nav Section Styles */
nav{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
nav .game-logo{
    display:flex;
    gap:10px;
    margin-top:40px;
    margin-left:200px;
    align-items: center;
    margin-bottom:20px;
}
nav ul{
    display:flex;
    gap:20px;
    align-items: center;
}
nav ul> li{
    list-style: none;
}
nav > ul .social-logo {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display:flex;
    gap:20px;
    align-items: center;
    margin:30px 150px 30px 0px;
    padding:10px 25px 10px 25px;
}
.social-logo > ul >img{
    align-items: center;
}
/* Banner Section Styles */
.banner{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.banner-content{
    max-width:850px;
    background: url('../images/Group\ 14.png');
    margin-top:20px;
    
}
.banner-cheer{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.banner-title{
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    color:#cd58f1;
}
.banner-content .description{
    display:flex;
    gap:10px;
    padding:10px;
}
.banner-content .description >img{
    padding-left:20px;
}
.banner-description{
    color: #534C64;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.banner-btn{
    margin-top:40px;
    display:flex;
    gap:24px;
}
.banner-img{
    max-width:700px;
}
/* Main Section Styles */
/* Quester Section */
.quester{
    display:flex;
    justify-content: space-evenly;
    gap:50px;
    align-items: center;
    margin-right:100px;
    margin-left:100px;
}
.quester-img{
    margin-top:30px;
}

.quester-content{
    justify-content:center;
    align-items:center;
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}
.quester-content .special-paragraph{
    text-align:right;
    margin-top:24px;
}
.btn-right{
    margin-top:30px;
    text-align:right;
}

#purpose{
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}
#unleash{
    text-align:left;
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Online games Section Styles */
.online-games{
    margin-top:100px;
}
.online-games >h3, p{
    text-align:center;

}
.games-container{
    margin-top:48px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:20px;
}
.games-container .game{
    text-align:center;
    padding:10px;
}
.games-container .game-title{
    text-align:start;
    padding:10px;
    margin-top:10px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Anniversary Section Styles */
.anniversary-container{
    display:flex;
    margin-top:130px;
   justify-content: space-around;
}
.anniversary-content{
    text-align:right;
    align-items:center;
    justify-content:center;
    margin-top:200px;
    margin-bottom:auto;
    
}
.anniversary-img .master{
    height: 60%;
    margin-left:90px;
}
.angela img{
    border-radius: 8px;
    border: 0px solid #FFF;
    width:340px;
    padding:40px;
    text-align:center;
    position:relative;
    bottom:350px;
    left:-150px;
}

/* Responsive Media Query Styles */
@media screen and (max-width:576px) {
    nav, .quester,
    .games-container,
    .anniversary-container
     {
        flex-direction:column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    nav .game-logo{
        margin-left:5px;
    }
    nav ul{
        flex-direction: column;
        padding-inline-start:0px;
        margin-left:auto;
        margin-right:auto;
    }
    nav > ul .social-logo {
        margin-right:0px;
    }
    .banner-content{
        max-width:350px;
    }
    .banner-img{
        max-width:350px;
    }
    .quester-img{
      width:400px;
      margin-top:50px;
    }
    .quester-img > img{
        width:100%;
    }
    .quester-content{
        margin-top:20px;
    }
    .quester-content >h3,
    .quester-content .section-title,
     .quester-content .section-description,
      .quester-content div, 
      .quester-content .special-paragraph {
        text-align:center;
      }
      .anniversary-content{
        margin-top:50px;
        margin-bottom:50px;
      }
      .anniversary-img .master{
        width:80%;
        margin-left:70px;
        margin-right:10px;
      }
      .anniversary-img .angela>img{
        width:200px;
        bottom:200px;
        left:-30px;
      }
}
